@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #162129;
    --secondary: #1f2937;
    --white: #fff;
    --red: #ED3024;
    --blue: #3137C9;
    --black: #000;

    --z-index-header: 1000;

}

html {
    font-size: 15px;
    background-color: rgb(17, 26, 32);
}

body {
    background-color: var(--primary);
    min-height: 100vh;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    color: var(--white);
}

.active {
    color: rgb(15 118 110);
}

.main {
    padding: 10rem 0 8rem;
}
