.post {
    margin-bottom: 3rem;
    padding: 2.5rem;

    overflow: hidden;

    background-color: var(--primary);
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, .35);
    border-radius: 0.5rem;
}

.post:hover {
    background-color: var(--secondary);
}

.post__header {
    margin: -2.5rem -2.5rem 0;
    padding-bottom: 2rem;
}

.post__preview {
    display: block;
    max-width: 100%;
    height: auto;
}

.post__content {
    margin-bottom: 3rem;
}

.post__title a {
    font-size: 1.8rem;
    color: var(--white);
    font-weight: 500;


    text-decoration: none;
    color: inherit;

}

.post__title:hover {
    text-decoration: underline;
}

.post__text {
    font-size: 1.4rem;
    color: #d2d2d2;
    padding-top: 1.5rem;
}

.post__footer {
    display: flex;
    justify-content: space-between;

}

.post__data, a {
    display: flex;
    padding-left: 0;
    color: #828282;
    line-height: 1.2;

    text-decoration: none;
}

.post__data:hover {
    text-decoration: underline;
}

.post__data-item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: .6rem;
    height: 0.6rem;
    margin: 0 1.5rem;
    position: relative;
    top: -0.2rem;

    border-radius: 50%;
    background-color: #c4c4c4;
}

.post__read {
    font-size: 1.4rem;
    color: #107eff;
    text-decoration: none;
}

.post__read:hover {
    color: #107eff;
    text-decoration: underline;
}